<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#"><img class="logo" src="static/img/satsuki.png"/> satsuki.tv</a>
  <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
    &#9776;
  </button>
  <ul class="nav navbar-nav pull-xs-right hidden-sm-down">
    <li class="nav-item" ng-class="{'active': isActive('')}">
      <a class="nav-link" ng-link="['Home']">About</a>
    </li>
    <li class="nav-item" ng-class="{'active': isActive('projects')}">
      <a class="nav-link" ng-link="['Projects']">Projects</a>
    </li>
    <li class="nav-item" ng-class="{'active': isActive('blog')}">
      <a class="nav-link" ng-link="['Blog']">Blog</a>
    </li>
  </ul>
</nav>
<div class="list-group collapse navbar-toggleable-sm hidden-md-up" id="CollapsingNavbar">
  <a data-toggle="collapse" data-target="#CollapsingNavbar" ng-link="['Home']" class="list-group-item">About</a>
  <a data-toggle="collapse" data-target="#CollapsingNavbar" ng-link="['Projects']" class="list-group-item">Projects</a>
  <a data-toggle="collapse" data-target="#CollapsingNavbar" ng-link="['Blog']" class="list-group-item">Blog</a>
</div>
