<div>
  <h2>
    I'm <a href="https://twitter.com/satsukitv">@satsukitv</a> and I'm a:<br/>
    Project Manager, Software Engineer,<br/>
    Intersectional Feminist, Twitter Account Haver
  </h2>
  <h3>
    <br/>
    Want to know more?
  </h3>
  <div class="row">
    <div class="col-sm-6 col-xs-12" id="tweet1"></div>
    <p class="col-sm-6 col-xs-12 lead bio">
      Name: Charlie</br>
      Level: 99 JavaScript Witch<br/>
      Pronouns: She/Her<br/>
      Longest GitHub streak: 369 Days</br>
      Unfinished projects: 6</br>
    </p>
  </div>
  <div class="accounts row" role="group" aria-label="Accounts">
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://github.com/satsukitv">
        <img src="static/img/GitHub-Mark-Light-120px-plus.png"/>
        GitHub
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://twitter.com/satsukitv">
        <img src="static/img/TwitterLogo_white.png"/>
        Twitter
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="http://devfluid.itch.io/"/>
        <img src="static/img/itchio.png"/>
        itch.io
      </a>
    </div>
    <div class="col-md-3 col-xs-6">
      <a class="" href="https://www.linkedin.com/in/charlie-wagner-6532b46"/>
        <img src="static/img/In-White-128px-TM.png"/>
        LinkedIn
      </a>
    </div>
  </div>
  <div>
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="static/img/satsuki.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>