<div class="text-xs-right blog-line">
  <a class="no-underline" href="https://satsukitv.tumblr.com"><strong>satsukitv.tumblr.com</strong></a>
  &nbsp;&nbsp;&nbsp;
  <iframe style="vertical-align:-20%" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="20" width="65" src="https://platform.tumblr.com/v2/follow_button.html?type=follow&amp;tumblelog=satsukitv&amp;color=white"></iframe>
</div>
<div ng-hide="data.posts" class="text-xs-center"><img src="/static/img/hourglass.svg"/></div>
<div class="card-columns large" ng-show="data.posts" ng-cloak>
  <div class="card blog-card" ng-repeat="post in data.posts">
    <a ng-show="post.image"><img class="card-img-top" ng-src="{{post.image}}" alt="Picture for {{post.title}}"></a>
    <div class="card-block">
      <h1 class="card-title">{{post.title}}</h1>
      <p class="card-text tumblr-text" ng-bind-html="getPostBody(post)"></p>
      <a class="clickable" ng-show="post.body_abstract && data.currentPost!=post" ng-click="data.currentPost=post">Read more...</a>
      <p class="card-text">
        <small class="text-muted">Posted on {{(post.timestamp*1000)|date}}</small>
      </p>
      <div class="row">
        <div class="col-xs-6">
          <a class="text-muted" target="_blank" href="{{post.short_url}}">{{post.note_count}} notes</a>
        </div>
        <div class="col-xs-6 text-xs-right">
          <a class="btn btn-sm btn-primary" target="_blank" href="https://www.tumblr.com/reblog/{{post.id}}/{{post.reblog_key}}/?redirect_to={{data.redirect_url}}"><i class="fa fa-share"></i> Reblog</a>
        </div>
      </div>
    </div>
  </div>
</div>