<div class="card-columns">
  <div class="card" ng-repeat="project in projects">
    <a ng-show="project.image" target="_blank" ng-href="{{getUrl(project)}}"><img class="card-img-top" ng-src="{{getImage(project.image)}}" alt="Picture for {{project.name}}"></a>
    <div class="card-block">
      <a target="_blank" ng-href="{{getUrl(project)}}"><h4 class="card-title">{{project.name}}</h4></a>
      <p class="card-text">{{project.description}}</p>
      <p class="card-text footnote" target="_blank" ng-show="project.url"><small class="text-muted">URL: <a ng-href="{{project.url}}">{{getUrlLabel(project)}}</a></small></p>
      <p class="card-text footnote" target="_blank" ng-show="project.repository"><small class="text-muted">Source: <a ng-href="{{project.repository}}">{{getRepositoryLabel(project.repository)}}</a></small></p>
    </div>
  </div>
</div>